body{
    background-color:#111827;
}
.ParentButtonGrp{
    height: 32px;
    width: 100%;
    // border:solid thin black  ;
}
.vsmbtn,.lsabtn,.w2vbtn{
    width: 100px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    left:400px;
}
.button_Styling{
    border-radius: 10px;
}
.button_Styling:hover{
    background-color: black;
    color:white
}
.inputgroup{
    width: 300px;
    position: relative;
    left: 400px;

}
.btn-success{
    position: relative;
    left:400px;
    top: -35px;
}

